<div class="container mt-4">
  <h2>Контакты</h2>
  <div class="row">
    <div class="col-md-6">
      <h3>Создатель проекта</h3>
      <p>Имя: Максим Силков Сергеевич</p>
      <p>Email: maxim.silkou.2002&#64;gmail.com</p>
      <p>Телефон: +375-33-6852412</p>
    </div>
    <div class="col-md-6">
      <h3>Куратор по дипломной работе</h3>
      <p>Имя: Куприянов Андрей Борисович</p>
      <p>Email: akupm&#64;mail.ru</p>
      <p>Телефон: +375-29-8328912</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <h3>Контактная информация кафедры</h3>
      <p>Адрес: Республика Беларусь, 220013, г. Минск, ул. Хмельницкого, 9, корпус 11 а, к. 202</p>
      <p>Email: povt&#64;bntu.by</p>
      <p>Телефон: +375-17-2939564</p>
    </div>
  </div>
</div>