<header class="text-center">
    <h1>Добро пожаловать в наше приложение для хранения и обмена файлами и учебными материалами</h1>
  </header>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Описание приложения</h2>
        <p>Наше приложение предоставляет удобный и безопасный способ хранения, управления и обмена файлами и учебными материалами. С его помощью вы можете легко делиться документами, презентациями, видео и другими ресурсами с вашими коллегами и студентами.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Функциональные возможности</h2>
        <p>Наше приложение включает следующие функции:</p>
        <ul class="list-group">
          <li class="list-group-item">Безопасное хранение файлов</li>
          <li class="list-group-item">Удобный обмен файлами с другими пользователями</li>
          <li class="list-group-item">Создание и управление папками для организации учебных материалов</li>
          <li class="list-group-item">Поддержка различных типов файлов: документы, презентации</li>
          <li class="list-group-item">Простой и интуитивно понятный интерфейс</li>
        </ul>
      </div>
    </div>
  </div>
  