<div class="container">
  <div class="row mt-4">
    <div class="col-md-12 text-right">
      <!-- Кнопка добавления преподавателя -->
      <button class="btn btn-primary" (click)="toggleForm()">Добавить преподавателя</button>
    </div>
  </div>

  <div *ngIf="showForm" class="row mt-4">
    <div class="col-md-12">
      <form (ngSubmit)="addTutor()">
        <div class="form-group">
          <label for="surname">Фамилия</label>
          <input type="text" class="form-control" id="surname" [(ngModel)]="newTutor.surname" name="surname" required>
        </div>
        <div class="form-group">
          <label for="name">Имя</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="newTutor.name" name="name" required>
        </div>
        <div class="form-group">
          <label for="patronymic">Отчество</label>
          <input type="text" class="form-control" id="patronymic" [(ngModel)]="newTutor.patronymic" name="patronymic" required>
        </div>
        <div class="form-group">
          <label for="subjects">Предметы</label>
          <input type="text" class="form-control" id="subjects" [(ngModel)]="newTutor.subjects" name="subjects" required>
        </div>
        <div class="form-group">
          <label for="department">Кафедра</label>
          <input type="text" class="form-control" id="department" [(ngModel)]="newTutor.department" name="department" required>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
        <button type="button" class="btn btn-secondary" (click)="toggleForm()">Отмена</button>
      </form>
    </div>
  </div>

  <div class="row mt-4 align-items-end">
    <div class="col-md-4">
      <!-- Фильтр по фамилии преподавателя -->
      <label for="surname">Фильтр по фамилии преподавателя:</label>
      <input type="text" id="surname" class="form-control" placeholder="Введите фамилию преподавателя" [(ngModel)]="filterSurnameValue">
    </div>
    <div class="col-md-4">
      <!-- Кнопка поиска -->
      <button class="btn btn-primary" (click)="search()">Поиск</button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Фамилия Имя Отчество</th>
            <th>Предметы</th>
            <th>Кафедра</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tutor of filteredTutors">
            <td>{{ tutor.id }}</td>
            <td>{{ tutor.surname }} {{ tutor.name }} {{ tutor.patronymic }}</td>
            <td>{{ tutor.subjects }}</td>
            <td>{{ tutor.department }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>